.specialPurposeId .description > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 20px;
    /* background-color: red; */
}
.specialPurposeId img{
    object-fit: cover;
    width: 300px;
    height: 200px;
    background-color: red;
    border-radius: 10px;
    border: 1px solid var(--main-color);
    box-shadow: var(--main-box-shadow);
}
.specialPurposeId .description > div > *{
    flex: 1;
}
.specialPurposeId .description .slider{
    display: flex;
    align-items: center;
    justify-content: center;
}

.downloadBtns .btns{
    display: flex;
    align-items: center;
    gap: 20px;
}
.downloadBtns .btns a{
    background-color: var(--sec-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: var(--main-transition);
    font-size: 16px;
    margin-bottom: 20px;
}
.downloadBtns .btns a:hover,
.downloadBtns .btns a:focus,
.downloadBtns .btns a:focus-visible,
.downloadBtns .btns a:active{
    background-color: var(--main-color);
    color: var(--sec-color);
}
.specialPurposeId .description .text h2{
    color: var(--sec-color);
    font-weight: normal;
    margin-bottom: 10px;
}
.specialPurposeId .description .text p{
    color: var(--sec-text-color);
    margin-bottom: 10px;
    line-height: 1.6;
}
.specialPurposeId .description .text ul{
    list-style: disc;
    padding-left: 18px;
    color: var(--sec-text-color);
    line-height: 1.6;
}
.specialPurposeId .features{
    background-color: #eee;
    padding-top: 60px;
    padding-bottom: 60px;
}
.specialPurposeId .features h2{
    color: var(--sec-color);
    font-weight: normal;
    margin-bottom: 20px;
}
.specialPurposeId .features .featuresDetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.specialPurposeId .features .featuresDetails > *{
    flex: 1;
}
.specialPurposeId .features .featuresDetails .featuresImg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.specialPurposeId .features .featuresDetails ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}
.specialPurposeId .features .featuresDetails ul li{
    background-color: var(--bg-color);
    padding: 12px 30px;
    border-radius: 0px 20px;
    font-size: 14px;
    color: var(--sec-text-color);
    line-height: 1.4;
    width: 400px;
}
.specialPurposeId .features .featuresDetails ul li h4{
    margin-bottom: 4px;
    color: var(--sec-color);
    font-size: 18px;
}
.specialPurposeId .features .featuresDetails ul li p{
    color: var(--sec-text-color);
}
.specialPurposeId .specs{
    padding-top: 60px;
    padding-bottom: 60px;
}
.specialPurposeId .specs h2{
    color: var(--sec-color);
    font-weight: normal;
    margin-bottom: 40px;
}
.specialPurposeId .specs .specsImg{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.specialPurposeId .specs img{
    object-fit: contain;
    height: 100%;
}
.specialPurposeId .download{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #eee;
}
.specialPurposeId .download h2{
    color: var(--sec-color);
    font-weight: normal;
}
@media (max-width: 992px) {
    .specialPurposeId .description > div{
        flex-direction: column;
        gap: 40px;
    }
    .specialPurposeId .features .featuresDetails{
        margin-top: 40px;
        flex-direction: column-reverse;
        gap: 40px;
    }
    .specialPurposeId .features .featuresDetails ul{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .specialPurposeId .features .featuresDetails ul li{
        width: calc((100% - 40px) / 2);
    }
}
@media (max-width: 767px) {
    .specialPurposeId .features .featuresDetails ul li{
        width: calc(100%);
    }
    .downloadBtns .btns a{
        padding: 10px 16px;
        font-size: 12px;
        width: calc((100% = 20px) / 2) ;
        flex: 1;
        text-align: center;
    }
}