.fields{
    background-color: var(--main-color);
    padding-top: 30px;
    padding-bottom: 50px;
}
.fields.en{
  direction: ltr;
}
.fields h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    color: var(--sec-color);
}
.fields > div{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}
@media (max-width: 767px) {
    .fields > div{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 500px) {
    .fields > div{
        grid-template-columns: repeat(3, 1fr);
    }
}
.fields > div .field{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.fields > div .field .icon{
    background-color: var(--bg-color);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--sec-color);
    font-size: 30px;
}
.fields > div .field span{
    font-weight: bold;
    text-align: center;
    color: var(--sec-color);
}