.button{
    background-color: var(--main-color);
    color: var(--sec-color);
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid var(--main-color);
    transition: var(--main-transition);
    font-weight: bold;
}
/* .button:hover{
    background-color: var(--sec-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
} */
.button.inverted{
    background-color: var(--sec-color);
    color: var(--main-color);
    font-weight: normal;
}
.button:hover{
    background-color: #fff;
    color: var(--sec-color);
    border: 1px solid var(--sec-color);
}
.button:focus, .button:focus-visible, .button:active{
    border: 1px solid var(--main-color);
    outline: none;
    cursor: pointer;
}
.button.en{
  direction: ltr;
}