.socialLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--sec-color);
    width: fit-content !important;
    padding: 0px !important;
    border-bottom: 4px solid var(--main-color);
    box-shadow: 0px 0px 30px -10px var(--sec-color);
    margin: 30px auto;
}
.socialLinks a{
    color: #fff;
    padding: 7px 10px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--main-transition);
}
.socialLinks a:hover{
    background-color: var(--main-color);
    color: var(--sec-color);
}