.why{
    padding-top: 30px;
    padding-bottom: 50px;
}
.why.en{
  font-family: "Afacad Flux", sans-serif;
  /* direction: ltr; */
}
.why h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    color: var(--sec-color);
}
.why > div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
@media (max-width: 767px) {
    .why > div{
        grid-template-columns: repeat(1, 1fr);
    }
}
.why .card{
    border-radius: 6px;
    position: relative;
    padding: 20px;
}
.why .card *{
    transition: var(--main-transition);
}
.why .card::before{
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: var(--sec-color);
    border-radius: 50%;
    transition: var(--main-transition);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    z-index: -1;
}
.why .card:nth-child(2)::before,
.why .card:nth-child(4)::before{
    left: 20px;
    right: auto;
}
.why .card:hover::before{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    top: 0;
    right: 0;
}
.why .card:nth-child(2):hover::before,
.why .card:nth-child(4):hover::before{
    left: 0px;
    right: auto;
}
.why .card:hover h3,
.why .card:hover p{
    color: #fff;
}
.why .card:nth-child(2),
.why .card:nth-child(4){
    text-align: left;
}
.why .card .heading{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--sec-color);
    font-size: 20px;
    margin-bottom: 20px;
}
.why .card:nth-child(2) .heading,
.why .card:nth-child(4) .heading{
    /* justify-content: f; */
    flex-direction: row-reverse;
}
.why .card .icon{
    font-size: 40px;
    color: var(--main-color);
    background-color: var(--sec-color);
    padding: 10px;
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.why .card p{
    /* width: 80%; */
}