.hero{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero.en{
  font-family: "Afacad Flux", sans-serif;
  direction: ltr;
}
.hero .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--sec-color-trans);
    backdrop-filter: blur(30px);
}
.hero h1{
    position: relative;
    color: #fff;
    color: var(--main-color);
    font-size: 80px;
}
.main{
  font-family: "Afacad Flux", sans-serif !important;
    padding-top: 30px;
}