.hero{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero.en{
  font-family: "Afacad Flux", sans-serif;
  direction: ltr;
}
.hero .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--sec-color-trans);
    backdrop-filter: blur(30px);
}
.hero h1{
    position: relative;
    color: #fff;
    color: var(--main-color);
    font-size: 80px;
}
.main{
  font-family: "Afacad Flux", sans-serif !important;
    padding-top: 30px;
}
.main *{
  /* font-family: "Afacad Flux", sans-serif !important; */
}
.main .subLayoutNav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 30px;
    margin-bottom: 40px;
    flex-direction: row-reverse;
    padding-right: 20px;
    padding-left: 20px;
}
.main .subLayoutNav li a{
    background-color: var(--sec-color);
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    font-family: "Afacad Flux", sans-serif;
    transition: var(--main-transition);
}
.main .subLayoutNav li a.active,
.main .subLayoutNav li a:hover,
.main .subLayoutNav li a:focus{
    background-color: var(--main-color);
    color: var(--sec-color);
}