.card{
    transition: var(--main-transition);
    position: relative;
}
.card > * {
    color: var(--text-color);
}
.card:hover{
    transform: scale(1.05);
}
.card > * > div:nth-child(1){
    /* height: 200px; */
    /* padding-top: 30px; */
    /* padding-bottom: 30px; */
    /* padding: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: var(--main-transition);
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
}
.card:hover > * > div:nth-child(1){
    border-radius: 10px;
    background-color: red;
}
.card > * > div:nth-child(1) img{
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
}
.card > * > div:nth-child(2){
    border: 1px solid var(--main-color);
    box-shadow: 0px 5px 10px -10px #000;
    border-radius: 10px;
    overflow: hidden;
    transition: var(--main-transition);
    /* padding: 10px; */
}
.card:hover > * > div:nth-child(2){ 
    background-color: var(--sec-color);
    box-shadow: 0px 7px 15px -10px #000;
}
.card > * > div:nth-child(2) h2{
    color: var(--sec-color);
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #eee;
    color: var(--sec-color);
    text-align: center;
    font-size: 22px;
    padding: 16px;
}
.card > * > div:nth-child(2) p{
    line-height: 1.6;
    padding: 16px;
    text-align: center;
    color: var(--text-color);
    place-items: center;
    height: 100%;
    transition: var(--main-transition);
}
.card:hover > * > div:nth-child(2) p{
    color: var(--main-color);
}