.card{
    transition: var(--main-transition);
    border: 1px solid var(--main-color);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 5px 10px -10px #000;
}
.card:hover{
    box-shadow: 0px 7px 15px -10px #000;
    background-color: var(--main-color);
    transform: scale(1.05);
}
.card > div:nth-child(1){
    /* height: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.card > div:nth-child(1) img{
    height: 100%;
}
.card > div:nth-child(2){
    /* padding: 10px; */
}
.card > div:nth-child(2) h2{
    color: var(--sec-color);
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #eee;
    color: var(--sec-color);
    text-align: center;
    font-size: 22px;
    padding: 16px;
}
.card > div:nth-child(2) p{
    line-height: 1.6;
    padding: 16px;
    text-align: center;
    place-items: center;
    height: 100%;
}