.downloads{
    direction: ltr !important;
}
.downloads ul{
    padding-bottom: 20px;
}
.downloads ul.filesList li{
    background-color: #eee;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: var(--main-box-shadow);
    border-radius: 10px;
    border: 1px solid var(--sec-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.downloads ul.filesList li h3{
    font-size: 20px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}
.downloads ul.filesList li h3 span{
    text-transform: capitalize;
    background-color: var(--main-color);
    color: var(--sec-color);
    padding-right: 5px;
    padding-left: 5px;
    font-size: 14px;
    border: 1px solid var(--sec-color);
    width: fit-content;
}
.downloads ul.filesList li .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}
.downloads ul.filesList li .btns a{
    background-color: var(--sec-color);
    color: #fff;
    padding: 5px 20px;
    transition: var(--main-transition);
    border-radius: 6px;
    text-align: center;
}
.downloads ul.filesList li .btns a:hover,
.downloads ul.filesList li .btns a:focus,
.downloads ul.filesList li .btns a:focus-visible,
.downloads ul.filesList li .btns a:active{
    background-color: var(--main-color);
    color: var(--sec-color);
}
@media (max-width: 992px) {
    .downloads ul.filesList li{
        flex-direction: column;
        gap: 20px;
    }
    .downloads ul.filesList li h3{
        text-align: center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 5px;
    }
    .downloads ul.filesList li h3 span{
        margin-left: 0;
    }
}
.downloads .filter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.downloads .filter input{
    position: absolute;
    visibility: hidden;
    height: 0;
    width: 0;
}
.downloads .filter div{
    margin-bottom: 10px;
}
.downloads .filter label{
    background-color: var(--sec-color);
    color: #fff;
    background-color: #eee;
    color: #000;
    border: 1px solid #000;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: var(--main-transition);
}
.downloads .filter label:hover,
.downloads .filter div:has(input:checked) label{
    background-color: var(--main-color);
    color: var(--sec-color);
    box-shadow: var(--main-box-shadow);
}