.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    transition: var(--main-transition);
    padding-top: 10px;
    padding-bottom: 10px;
}
.header.en{
    direction: ltr;
    font-family: "Afacad Flux", sans-serif;
}
.header.scrolled{
    background-color: var(--sec-color);
    border-bottom: 1px solid var(--main-color);
    box-shadow: 0px 0px 10px -2px var(--main-color);
}
.header > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header > div > *:last-child{
    padding: 2px 10px;
    font-weight: bold;
}
.header .logo a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .logo img:last-child{
    display: none;
}
.header button.toggleNav{
    /* width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); */
    background-color: transparent;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    font-size: 20px;
}
.header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--main-color);
    gap: 10px;
    transition: var(--main-transition);
    position: relative;
}
.header nav a{
    color: #fff;
    transition: var(--main-transition);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.header nav > a{
    text-wrap: nowrap;
}
.header nav > div{
    border-right: 1px solid var(--main-color);
    padding-right: 10px;
}
.header.en nav > div{
    border-right: none;
    padding-right: 0px;
    border-left: 1px solid var(--main-color);
    padding-left: 10px;
}
.header nav .moreLinks{
    position: absolute;
    top: calc(100%);
    padding-top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    font-family: "Afacad Flux", sans-serif !important;
    /* width: 100%; */
}
.header nav > div:hover .moreLinks{
    display: block;
}
@media (max-width: 650px) {
    .header nav .moreLinks{
        /* pos */
        /* width: 98vw !important; */
    }
    .header nav .moreLinks > ul > li:first-child{
        width: 100%;
        text-decoration: underline var(--sec-color);
        font-size: 16px;
    }
    .header nav .moreLinks > ul > li div{
        padding-left: 0 !important; 
        padding-right: 0 !important; 
        justify-content: center !important;
        align-items: center !important;
        gap: 5px !important;
    }
    .header nav .moreLinks > ul > li div svg{
        font-size: 10px !important;
        transform: rotateZ(90deg);
    }
    
}
.header.en nav .moreLinks{
    font-family: "Afacad Flux", sans-serif !important;
}

.header nav .moreLinks ul{
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    box-shadow: 0px 2px 2px 0px #ccc;
}
.header nav .moreLinks ul li:first-child{
    font-weight: bold;
}
.header nav .moreLinks svg{
    font-size: 14px;
}
.header nav .moreLinks > ul{
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: var(--bg-color);
    transition: var(--main-transition);
    border-radius: 0px 0px 6px 6px;
    text-wrap: nowrap;
}
.header nav .moreLinks > ul{
}
.header nav .moreLinks > ul{
    display: flex;
    direction: ltr;
}
.header nav .moreLinks > ul li:not(:last-child){
    border-right: 1px solid #ccc;
}
.header nav a:has(.moreLinks):hover .moreLinks{
    display: block;
}
.header nav .moreLinks a{
    color: var(--text-color);
    transition: var(--main-transition);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    direction: ltr !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.header nav .moreLinks a:hover{
    background-color: var(--main-color);
}
.header nav .moreLinks a ul{
    position: absolute;
    left: 100%;
    top: 0;
    background-color: var(--bg-color);
    border-radius: 0px 6px 6px 0px;
    overflow: hidden;
    z-index: 2;
    display: none;
}
.header nav .moreLinks a:hover ul{
    display: block;
}
.header nav .moreLinks div:hover svg{
    transform: rotateZ(90deg);
}
.header nav .moreLinks > ul > li > div{
    color: var(--text-color);
    transition: var(--main-transition);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    direction: ltr !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 10px;
}
.header nav .moreLinks > ul > li > div > svg{
    font-size: 12px;
}
.header nav .moreLinks > ul > li > div:hover > ul{
    display: block;
}
.header nav .moreLinks > ul > li > div > ul{
    position: absolute;
    left: 0%;
    top: 100%;
    background-color: var(--bg-color);
    border-radius: 0px 6px 6px 0px;
    overflow: hidden;
    z-index: 2;
    display: none;
    text-wrap: nowrap;
    min-width: 100%;
}
.header nav .moreLinks > ul > li > div > ul li:not(:last-child){
    border-bottom: 1px solid #ccc;
}
.header nav .moreLinks > ul > li > div > ul li a{
        text-align: left;
}
@media (max-width: 992px) {
    .header nav .moreLinks li:nth-child(1) ul,
    .header nav .moreLinks li:nth-child(2) ul{
        width: 300px;
        text-wrap: wrap;
        text-align: left;
    }
}
@media (max-width: 767px) {
    .header nav .moreLinks{
        position: relative;
        width: 100%;
    }
    .header nav .moreLinks > ul{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        direction: ltr !important;
    }
    .header nav .moreLinks > ul li:not(:last-child){
        border-bottom: none;
    }
    .header nav .moreLinks > ul a ul li:not(:last-child){
        border-bottom: 1px solid #ccc;
    }
    .header nav .moreLinks a{
        gap: 10px;
    }
    .header nav .moreLinks a svg{
        transform: rotateZ(90deg);
    }
    .header nav .moreLinks > ul{
        /* flex-direction: column; */
        justify-content: space-around;
        position: relative;
    }
    .header nav .moreLinks > ul > li{
        width: calc(90% / 5);
        font-size: 14px;
    }
    .header nav .moreLinks > ul > li > a{
        justify-content: center;
        gap: 6px;
        position: unset;
    }
    .header nav .moreLinks > ul > li > a > svg{
        width: 7px;
    }
    .header nav .moreLinks > ul > li > a > ul{
        width: calc(100vw - 40px) !important;
    }
    .header nav .moreLinks a ul{
        left: 0px;
        width: 100%;
        top: 100%;
    }
    .header nav .moreLinks > ul > li > a > ul li{
        width: 100%;
    }
    .header nav .moreLinks > ul > li > a > ul a{
        width: 100%;
        justify-content: center;
    }
    .header nav .moreLinks li:nth-child(1) ul,
    .header nav .moreLinks li:nth-child(2) ul{
        /* width: fit-content; */
        text-wrap: nowrap;
    }
    .header nav .moreLinks > ul li ul{
        position: fixed !important;
    }
    .header nav > div{
        border: none;
        border-top: 1px solid var(--main-color);
        padding: 0px;
        padding-top: 10px;
        width: 100%;
    }
    .header.en nav > div{
        border-left: none;
    }
}
@media (max-width: 600px) {
    .header nav .moreLinks > ul > li{
        width: calc(100% / 5);
        /* font-size: 14px; */
    }
    .header nav .moreLinks > ul > li > a{
        flex-direction: column;
    }
}

.header nav a svg{
    font-size: 14px;
}
.header nav > a:hover,
.header nav > a.active{
    color: var(--main-color);
}
.header nav > div:hover > a,
.header nav > div a.active{
    color: var(--main-color);
}
.header nav a:not(:first-child){
    border-right: 1px solid var(--main-color);
    padding-right: 10px;
    /* background-color: red; */
}
body:has(header#en) header {
}
.header.en nav a:not(:first-child){
    border-right: none;
    border-left: 1px solid var(--main-color);
    padding-left: 10px;
    padding-right: 0px;
}
@media (max-width: 992px) {
    .header nav{
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 20px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }
    .header.scrolled nav{
        background-color: var(--sec-color);
        padding: 5px 20px;
        border-top: 1px solid var(--main-color);
        border-bottom: 1px solid var(--main-color);
        box-shadow: 0px 2px 5px -2px var(--main-color);
    }
}
@media (max-width: 767px) {
    
    .header .logo img:first-child{
        display: none;
    }
    .header .logo img:last-child{
        display: block;
    }
    .header nav{
        flex-direction: column;
        background-color: var(--sec-color);
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        display: none;
    }
    .header nav a{
        width: 100%;
        text-align: center;
    }
    .header nav a:not(:first-child){
        border-right: none;
        border-top: 1px solid var(--main-color);
        padding-right: 0px;
        padding-top: 10px;
        /* background-color: red; */
    }
    .header.en nav a:not(:first-child){
        border-left: none;
        padding-left: 0px;
    }
    .header button.toggleNav{
        display: flex;
    }
}