.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    transition: var(--main-transition);
    padding-top: 20px;
    padding-bottom: 20px;
}
.header.scrolled{
    background-color: var(--sec-color);
    border-bottom: 1px solid var(--main-color);
    box-shadow: 0px 0px 10px -2px var(--main-color);
}
.header > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header > div > *:last-child{
    padding: 2px 10px;
    font-weight: bold;
}
.header .logo a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .logo img:last-child{
    display: none;
}
.header button.toggleNav{
    /* width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); */
    background-color: transparent;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    font-size: 20px;
}
.header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--main-color);
    gap: 10px;
    transition: var(--main-transition);
}
.header nav a{
    color: #fff;
    transition: var(--main-transition);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.header nav > a{
    text-wrap: nowrap;
}
.header nav a:has(.moreLinks){
    position: relative;
}
.header nav a .moreLinks{
    position: absolute;
    top: calc(100%);
    padding-top: 10px;
    display: none;
}
.header nav a .moreLinks svg{
    font-size: 14px;
}
.header nav a .moreLinks > ul{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--bg-color);
    transition: var(--main-transition);
    border-radius: 0px 0px 6px 6px;
    font-family: "Roboto", sans-serif;
}
.header nav a .moreLinks > ul li:not(:last-child){
    border-bottom: 1px solid #ccc;
}
.header nav a:has(.moreLinks):hover .moreLinks{
    display: block;
}
.header nav a .moreLinks a{
    color: var(--text-color);
    transition: var(--main-transition);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    direction: ltr !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.header nav a .moreLinks a:hover{
    background-color: var(--main-color);
}
.header nav a .moreLinks a ul{
    position: absolute;
    left: 100%;
    top: 0;
    background-color: var(--bg-color);
    border-radius: 0px 6px 6px 0px;
    overflow: hidden;
    z-index: 2;
    display: none;
}
.header nav a .moreLinks a:hover ul{
    display: block;
}
@media (max-width: 992px) {
    .header nav a .moreLinks li:nth-child(1) ul,
    .header nav a .moreLinks li:nth-child(2) ul{
        width: 300px;
        text-wrap: wrap;
        text-align: left;
    }
}
@media (max-width: 767px) {
    .header nav a .moreLinks{
        width: calc(100vw - 40px);
    }
    .header nav a .moreLinks > ul{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        direction: ltr !important;
    }
    .header nav a .moreLinks > ul li:not(:last-child){
        border-bottom: none;
    }
    .header nav a .moreLinks > ul a ul li:not(:last-child){
        border-bottom: 1px solid #ccc;
    }
    .header nav a .moreLinks a{
        gap: 10px;
    }
    .header nav a .moreLinks a svg{
        transform: rotateZ(90deg);
    }
    .header nav a .moreLinks a ul{
        left: 0;
        top: 100%;
    }
    .header nav a .moreLinks li:nth-child(1) ul,
    .header nav a .moreLinks li:nth-child(2) ul{
        width: fit-content;
        text-wrap: nowrap;
    }
}
@media (max-width: 600px) {
    .header nav a .moreLinks li:nth-child(1) ul,
    .header nav a .moreLinks li:nth-child(2) ul{
        width: 300px;
        text-wrap: wrap;
        text-align: left;
    }
}
.header nav a svg{
    font-size: 14px;
}
.header nav a:hover,
.header nav a.active{
    color: var(--main-color);
}
.header nav a:not(:first-child){
    border-right: 1px solid var(--main-color);
    padding-right: 10px;
    /* background-color: red; */
}
@media (max-width: 992px) {
    .header nav{
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 20px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }
    .header.scrolled nav{
        background-color: var(--sec-color);
        padding: 5px 20px;
        border-top: 1px solid var(--main-color);
        border-bottom: 1px solid var(--main-color);
        box-shadow: 0px 2px 5px -2px var(--main-color);
    }
}
@media (max-width: 767px) {
    
    .header .logo img:first-child{
        display: none;
    }
    .header .logo img:last-child{
        display: block;
    }
    .header nav{
        flex-direction: column;
        background-color: var(--sec-color);
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        display: none;
    }
    .header nav a{
        width: 100%;
        text-align: center;
    }
    .header nav a:not(:first-child){
        border-right: none;
        border-top: 1px solid var(--main-color);
        padding-right: 0px;
        padding-top: 10px;
        /* background-color: red; */
    }
    .header button.toggleNav{
        display: flex;
    }
}