.card{
    display: flex;
    align-items: center;
    gap: 30px;
    border-bottom: 1px solid var(--sec-color);
    padding-top: 40px;
    padding-bottom: 40px;
}
.card:first-child{
    margin-top: -50px;
}
.card.inverted{
    flex-direction: row-reverse;
}
.card > div{
    flex: 1;
}
.card > div:nth-child(2){
    display: flex;
    align-content: center;
    justify-content: center;
    height: 300px;
}
.card > div:nth-child(2) img{
    /* object-fit: contain; */
    height: 100%;
    border-radius: 10px;
}
.card h2{
    color: var(--sec-color);
    margin-bottom: 10px;
}
.card ul{
    list-style: disc;
    margin-right: 15px;
}
.card ul li{
    margin-bottom: 6px;
}
@media (max-width: 992px) {
    .card, .card.inverted{
        flex-direction: column;
    }
    .card > div{
    }
    .card > div:nth-child(2){
        width: 60%;
    }
}
@media (max-width: 600px) {
}