.card{
    display: flex;
    align-items: center;
    gap: 30px;
    border-bottom: 1px solid var(--sec-color);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}
.card:first-child{
    margin-top: -50px;
}
.card.inverted{
    flex-direction: row-reverse;
}
/* .card.en{
    direction: ltr;
} */
.card > div{
    flex: 1;
}
.card > div:nth-child(2){
    display: flex;
    align-content: center;
    justify-content: center;
    height: 300px;
}
.card > div:nth-child(2) img{
    /* object-fit: contain; */
    height: 100%;
    border-radius: 10px;
    border: 3px solid var(--main-color);
    box-shadow: 0px 0px 10px 0px #ccc;
}
.card h2{
    color: var(--sec-color);
    margin-bottom: 10px;
}
.card.en h2{
    font-size: 30px;
}
.card ul{
    list-style: disc;
    margin-right: 15px;
}
.card.en ul{
    list-style: disc;
    margin-right: 0px;
    margin-left: 15px;
}
.card ul li{
    margin-bottom: 6px;
}
.card.en ul li{
    font-size: 18px;
}
@media (max-width: 992px) {
    .card, .card.inverted{
        flex-direction: column;
    }
    .card > div{
    }
    .card > div:nth-child(2){
        width: 60%;
    }
}
@media (max-width: 600px) {
    .card{
        padding-left: 0;
        padding-right: 0;
        align-items: flex-start;
    }
    .card > div:nth-child(2){
        margin-right: auto;
        margin-left: auto;
    }
}