.languageSwitch{
    background-color: var(--main-color);
    color: var(--sec-color);
    border: 1px solid var(--main-color);
    border-radius: 4px;
    width: 40px;
    direction: ltr;
    font-size: 16px;
}
.languageSwitch.en{
  direction: ltr;
}