.footer{
    background-color: var(--sec-color);
    color: #fff;
}
.footer > div:first-child{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.footer > div h4{
    color: var(--main-color);
    margin-bottom: 10px;
}
.footer > div:first-child > div{
    width: calc(100% / 3);
}
@media (max-width: 600px) {
    .footer > div:first-child > div{
        text-align: center;
    }
}
/* .footer > div:first-child > div div{
    margin-top: 10px;
} */
.footer > div:first-child > div:first-child div{
    display: flex;
    flex-direction: column;
}
.footer > div div a{
    color:#fff;
}
.footer > div div a:hover{
    color: var(--main-color);
} 

.footer > div:first-child > div:not(:has(.socials)) > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer > div:first-child > div > div > div{
    display: flex;
    /* align-items: center; */
    gap: 20px;
    padding: 10px;
}
@media (max-width: 600px) {
    .footer > div:first-child > div > div > div{
       flex-direction: column;
       gap: 10px;
       margin-bottom: 20px;
    }
}
.footer > div:first-child > div > div > div > span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    font-size: 20px;
}
.footer > div:first-child > div > div > div{
    padding: 0;
}
.footer > div:first-child > div > div > div a{
    text-decoration: underline;
}
.footer .socials{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: fit-content;
    font-size: 20px;
}
.footer .socials a{
    background-color: var(--main-color);
    color: var(--sec-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    transition: var(--main-transition);
}
@media (max-width: 600px) {
    .footer .socials{
        flex-direction: column;
        margin-right: auto;
        margin-left: auto;
    }
}
.footer .socials a:hover{
    background-color: #fff;
    color: var(--sec-color);
}
.footer .copyright{
    border-top: 1px solid #fff;
    text-align: center;
    padding: 20px;
}
.footer .copyright a{
    color: var(--main-color);
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
}