.subProductsLayout *{
    direction: ltr !important;
    /* font-family: "Roboto", sans-serif; */
    font-family: "Afacad Flux", sans-serif !important;
}
.subProductsLayout > div > div h3{
    font-size: 30px;
}
.subProductsLayout > div > div:nth-child(2) > ul{ 
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.subProductsLayout > div > div:nth-child(2) > ul li a{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.subProductsLayout > div > div:nth-child(2) > ul li a img{ 
    background-color: #eee;
    padding: 20px;
    border-radius: 6px 6px 0px 0px;
}
.subProductsLayout > div > div:nth-child(2) > ul li a h2{ 
    background-color: var(--sec-color);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    transition: var(--main-transition);
}
.subProductsLayout > div > div:nth-child(2) > ul li:hover a h2{ 
    background-color: var(--main-color);
    color: var(--sec-color);
}
.subProductsLayout > div > div:not(:first-child){  /* excluding the loader compoennt */
    padding-bottom: 40px;
}
.subProductsLayout > div > div > div{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 40px;
    margin-top: 10px;
}
.subProductsLayout > div > div > div > div{
    background-color: #eee;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    box-shadow: var(--main-box-shadow);
    transition: var(--main-transition);
}
.subProductsLayout > div > div > div > div:hover{
    box-shadow: var(--main-box-shadow-hover);
    transform: translateY(-2px) scale(1.05);
}
.subProductsLayout > div > div > div > div:hover img{
    transform: scale(1.03);
}
.subProductsLayout > div > div > div > div a:has(img){
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
    padding-top: 20px;
    /* padding: 0px 40px; */
}
.subProductsLayout > div > div > div > div a:has(img) img{
    /* width: 300px; */
    height: 100%;
    transition: var(--main-transition);
    object-fit: contain;
}
.subProductsLayout > div > div > div > div > div{
    padding: 20px 60px;
}
.subProductsLayout > div > div > div > div p{
    margin-bottom: 16px;
}
.subProductsLayout > div > div > div > div p a{
    color: var(--sec-color);
    font-weight: bold;
}

.subProductsLayout > div > div > div > div span a{
    border: 1px solid var(--sec-color);
    padding: 4px 20px;
    border-radius: 6px;
    transition: var(--main-transition);
    font-size: 14px;
    color: var(--sec-color);
}
.subProductsLayout > div > div > div > div span a:hover{
    background-color: var(--sec-color);
    color: #fff;
}
@media (max-width: 992px) {
    .subProductsLayout > div > div > div{
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        row-gap: 80px;
    }
}
@media (max-width: 767px) {
    .subProductsLayout > div > div > div{
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        row-gap: 120px;
}
}