
.productsList *{
    direction: ltr !important;
}    
.productsList ul li{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 60px;
    background-image: linear-gradient(to right, #e4e4e4 , transparent);
    padding: 30px 20px;
}
.productsList ul li:not(:last-child){
    border-bottom: 1px solid #ccc;
}
.productsList ul li > a{
    width: 50%;
    transition: var(--main-transition);
}
.productsList ul li:hover > a{
    transform: scale(1.03);
}
.productsList ul li > a img{
    object-fit: cover;
}
.productsList ul li.inverted{
    flex-direction: row-reverse;
    background-image: linear-gradient(to left, #e4e4e4 , transparent);
}
@media (max-width: 992px) {
    .productsList ul li{
        flex-direction: column-reverse;
        /* gap: 20px; */
        text-align: center;
        margin-bottom: 0 !important;
        gap: 20px;
    }
    .productsList ul li:not(:last-child){
        border-bottom: 2px solid var(--sec-color);
    }
    .productsList ul li.inverted{
        flex-direction: column-reverse;
    }
    .productsList ul li > a{
        width: 100%;
    }
}
@media (max-width: 600px) {
    .products > div{
        width: 100% !important;
        padding: 0 !important;
    }
    .productsList ul li{
        padding: 30px 0px;
        background-image: linear-gradient(to top, #e4e4e4 , transparent);
    }
    .productsList ul li.inverted{
        background-image: linear-gradient(to top, #e4e4e4 , transparent);
    }
    .productsList ul li > a{
        width: 90%;
    }
    .productsList ul li > a img{
        /* object-fit: none; */
    }
}
.productsList ul li a{
    color: var(--text-color);
}
.productsList ul li div{
    flex: 1;
}
        
.productsList ul li h3{
    color: var(--sec-color);
    margin-bottom: 10px;
    font-size: 26px;
}
.productsList ul li p{
    margin-bottom: 20px;
    color: var(--sec-text-color);
}
.productsList ul li div a{
    border: 1px solid var(--sec-color);
    padding: 4px 20px;
    border-radius: 6px;
    transition: var(--main-transition);
    font-size: 14px;
}
.productsList ul li div a:hover{
    background-color: var(--sec-color);
    color: #fff;
}