.servicesCards.en{
    direction: ltr;
}
.servicesCards .cards{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 30px;
}
@media (max-width: 992px) {
    .servicesCards .cards{
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}
@media (max-width: 767px) {
    .servicesCards .cards{
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
}