.mainHeading{
    color: var(--sec-color);
    margin-top: 20px;
    margin-bottom: 20px;
    direction: ltr;
    width: fit-content;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.mainHeading h1{
    /* background-color: white; */
    font-size: 48px;
}
@media (max-width: 600px) {
    .mainHeading h1{
        font-size: 38px;
    }
}