.testimonialsCard{
    position: relative;
    background-color: var(--sec-color);
    color: #fff;
    padding: 60px 20px 20px;
    border-bottom: 5px solid var(--main-color);
    box-shadow: 0px 5px 20px -10px #000;
}
.testimonialsCard.en{
    direction: ltr;
}
.testimonialsCard > div{
    position: absolute;
    top: 0;
    /* left: 50%; */
    right: 20px;
    transform: translate(-0%,-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testimonialsCard.en > div{
    right: unset;
    left: 20px;
}
.testimonialsCard > div img{
    width: 100%;
    height: 100%;
    transform: scale(1.1);
}
.testimonialsCard h4{
    font-size: 24px;
}
.testimonialsCard span{
    color: var(--main-color);
}
.testimonialsCard p{
    margin-top: 10px;
}
@media (max-width: 600px) {
    .testimonialsCard > div{
        right: 50%;
        transform: translate(50%,-50%);
    }
    .testimonialsCard.en > div{
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .testimonialsCard{
        text-align: center;
    }
}