@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
  --main-color: #e8af06;
  --sec-color: #004161;
  --sec-color-trans: #004161c8;
  --bg-color: #ffffff;
  --test: #ffc03d;
  --text-color: #242424;
  --sec-text-color: #212d45;
  --main-transition: all 0.1s 0s linear;
}
::selection{
  background-color: var(--main-color);
  color: var(--sec-color);
}
::-webkit-scrollbar{
  width: 10px;
  background-color: var(--sec-color);
}
::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
}
body{
  font-family: "El Messiri", sans-serif;
  direction: rtl;
}
body:has(header#en){
  direction: ltr;
  font-family: "Afacad Flux", sans-serif;
}
html{
  scroll-behavior: smooth;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
img, video{
  max-width: 100%;
}
button, button:focus, button:focus-visible, button:active{
  border: none;
  outline: none;
  font-family: "El Messiri", sans-serif;
  cursor: pointer;
}
.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 95%;
}
@media (min-width: 767px) {
  .container{
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container{
    width: 980px;
  }
}
@media (min-width: 1200px) {
  .container{
    width: 1180px;
  }
}

.home{
  background-color: var(--sec-color);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: -100px;
  z-index: 1;
}
.home.en{
  font-family: "Afacad Flux", sans-serif;
  direction: ltr;
}
.home .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--sec-color);
  backdrop-filter: blur(10px);
  opacity: 0.9;
}
.home .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  text-align: center;
}
.home .container > div:first-of-type{
  display: flex;
  gap: 5px;
  align-items: baseline;
}
.home .container > div:first-of-type{
  font-size: 26px;
}
.home .container > div:first-of-type h1{
  color: var(--main-color);
  font-size: 60px;
}
.home .container > p{
  width: 60%;
  font-size: 20px;
}
.home .container > .buttons{
  display: flex;
  align-items: center;
  gap: 20px;  
}
.home .container .vtLogo{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.home .container .vtLogo span{
  font-size: 20px;
}
@media (max-width: 767px) {
  .home .container{
    align-items: center;
    text-align: center;
  }
  .home .container > div:first-of-type{
    flex-direction: column;
    align-items: center;
  }
  .home .container > div:first-of-type h1{
    margin-bottom: -20px;
    text-wrap: nowrap;
  }
  .home .container p{
    width: 100%;
    font-size: 18px;
  }
  .home .container > div:first-of-type h1{
    color: var(--main-color);
    font-size: 40px;
  }
  .home .container > div:first-of-type h2{
    font-size: 30px;
    margin-top: 10px;
  }
}