.projectsSilder{
    background-color: #fff;
    padding-top: 30px;
}
.projectsSilder h2{
    text-align: center;
    font-size: 40px;
}
.projectsSilder .swiper{
    position: relative;
    padding-bottom: 100px;
    min-height: 70vh;
}
.projectsSilder .swiper .projectsSilderSwiper{
    padding-bottom: 20px;
}
.projectsSilder .slide{
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: ltr;
    transition: var(--main-transition);
}
.projectsSilder .slide:hover{
    border: 4px solid var(--main-color);
}
.projectsSilder .slide a{
    width: 100%;
}
.projectsSilder .slide img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    z-index: -1;
}
.projectsSilder .slide .text{
    background-color: var(--sec-color);
    width: 100%;
    color: #fff;
    padding: 20px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    text-align: center;
    transform: translateY(100px);
    transition: var(--main-transition);
}
.projectsSilder .slide:hover .text{
    transform: translateY(0);
    border-top: 4px solid var(--main-color);
    border-bottom: 4px solid var(--main-color);
}
.projectsSilder .slide .text h3{
    font-size: 24px;
}
.projectsSilder .swiper button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #eee;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    transition: var(--main-transition);
    transition-duration: 0.1s;
}
.projectsSilder .swiper button:first-of-type{
    left: -40px;
}
.projectsSilder .swiper button:last-of-type{
    right: -40px;
}
.projectsSilder .swiper button:hover{
    background-color: var(--main-color);
    color: #fff;
}
.projectsSilder .sliderPagination{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.projectsSilder .sliderPagination span{
    background-color: var(--main-color);
    width: 20px;
    border-radius: 2px;
}
@media (max-width: 767px) {
        
    .projectsSilder .swiper button:first-of-type{
        left: 0px;
        transform: translateY(-100%);
        z-index: 2;
    }
    .projectsSilder .swiper button:last-of-type{
        right: 0px;
        transform: translateY(-100%);
        z-index: 2;
    }
    
}