.plcId .description > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    /* background-color: red; */
}
.plcId img{
    object-fit: contain;
}
.plcId .description > div > *{
    flex: 1;
}
.plcId .description .slider{
    display: flex;
    align-items: center;
    justify-content: center;
}
.plcId .description .text h2{
    color: var(--sec-color);
    font-weight: normal;
    margin-bottom: 10px;
}
.plcId .description .text p{
    color: var(--sec-text-color);
    margin-bottom: 10px;
    line-height: 1.6;
}
.plcId .description .text ul{
    list-style: disc;
    padding-left: 18px;
    color: var(--sec-text-color);
    line-height: 1.6;
}
.plcId .features{
    background-color: #eee;
    padding-top: 60px;
    padding-bottom: 60px;
}
.plcId .features h2{
    color: var(--sec-color);
    font-weight: normal;
    margin-bottom: 20px;
}
.plcId .features .featuresDetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.plcId .features .featuresDetails > *{
    flex: 1;
}
.plcId .features .featuresDetails .featuresImg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.plcId .features .featuresDetails ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}
.plcId .features .featuresDetails ul li{
    background-color: var(--bg-color);
    padding: 12px 30px;
    border-radius: 0px 20px;
    font-size: 14px;
    color: var(--sec-text-color);
    line-height: 1.4;
    width: 400px;
}
.plcId .features .featuresDetails ul li h4{
    margin-bottom: 4px;
    color: var(--sec-color);
}
.plcId .features .featuresDetails ul li p{
    color: var(--sec-text-color);
}
.plcId .specs{
    padding-top: 60px;
    padding-bottom: 60px;
}
.plcId .specs h2{
    color: var(--sec-color);
    font-weight: normal;
    margin-bottom: 40px;
}
.plcId .specs .specsImg{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.plcId .specs img{
    object-fit: contain;
    height: 100%;
}
.plcId .download{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #eee;
}
.plcId .download h2{
    color: var(--sec-color);
    font-weight: normal;
}
@media (max-width: 992px) {
    .plcId .description > div{
        flex-direction: column;
        gap: 40px;
    }
    .plcId .features .featuresDetails{
        margin-top: 40px;
        flex-direction: column-reverse;
        gap: 40px;
    }
    .plcId .features .featuresDetails ul{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .plcId .features .featuresDetails ul li{
        width: calc((100% - 40px) / 2);
    }
}
@media (max-width: 767px) {
    .plcId .features .featuresDetails ul li{
        width: calc(100%);
    }
}